* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#div1 {
	/*margin is space generated outside of the element.*/
	/*border is the space between you margin and padding*/
	/*padding is space generated inside the element, between our border and our content*/
	/*margins and paddings have four directions they can be added at the top,bottom,left or right*/
	/*margin: <value> - adds margin on all sides*/
	/*margin: <topAnd Bottom> <leftAndRight>*/
	/*margin <top> <leftAndRight <bottom>*/
	/*margin <top> <right> <bottom> <left>*/

	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;

	/*without box-sizing or the default: ;

		Width is calculated like this:

		2px left border + 20px left padding + 150 width + 20px right padding + 2px right border = 194px

		box-sizing: content-box; - border and padding are added on top of widht.
		box-sizing property allows to determine how we calculate the size of elements.

		with box-sizing: ;

		Width is calculated like this: ;

		2px left border +20px left padding + 56px content width + 20 px right padding + 2px borderpx =100px

		box-sizing:  border-box; border and padding is included in the total of our element.

		inline vs block vs inline-block

		block will occupy whole width of its parent therefore it breaks the line. However, we can manipulate the height and width of our block element. 

		inline will occpuy the size of its content. You can't set the width and the height of an inline element. This will then display elements beside each other.<you can't set height and width> <size will adjust by its content>

		inline-block works almost like an inline element wherein it will not start on a new line and will put elements beside each other however, inline-block, you can set the width and the height.

		vetical-align: top will allow us to align our items vertically from the top. It is usually used in conjunction with inline-block elements.

 */

}

#div2 {
	border: 2px solid black;top
	padding: 20px;
	background-color: orange;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}

#span1 {
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}
#span2 {
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}