body {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Nav Section*/
nav {
	padding: 0.8rem;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid gray;
	background-color: #00487C;
	color: #FBFBFF;
}

.nav-title {
	font-weight: bold;
}

nav .nav, nav .nav-title {
	margin: 0.5rem;
	display: inline;
}

nav > ul {
	list-style-type: none;
}

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	border-bottom: 1px solid gray;
	background-color: #D73833;
}

.header {
	font-size: 3rem;
	font-family: 'Playfair Display', serif;
	text-align: center;

}

#intro p {
	font-size: 1rem;
	font-family: 'Georgia', sans-serif;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #00487C;
	border-radius: 25px;
	color: #FBFBFF;
	font-size: 1rem;
	padding: 1rem;

}

/*Products Section*/
#featured-products {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#featured-products h2 {
	margin-bottom: 1rem;
	text-align: center;

}

#featured-products .products {
	width: 30%;
	min-height: 250px;
	padding-top: 20px;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	border-radius: 15px;
}

.products img {
	height: 30%;
	width: 90%;
}

.products p{
	font-family: 'Roboto Condensed', sans-serif;

}

/*Footer Section*/
footer {
	padding: 0.7rem;
	text-align: center;
}

footer > span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}